In [3]:
import pandas_datareader.data as web

In [4]:
import datetime

In [5]:
start = datetime.datetime(2015,1,1)
end = datetime.datetime(2017,1,1)

In [7]:
facebook = web.DataReader('FB', 'google', start, end)

In [9]:
facebook.head()

              Open    High     Low   Close    Volume
Date
2016-09-19  129.91  129.94  128.26  128.65  14958794
2016-09-20  128.65  129.17  128.03  128.64  11083808
2016-09-21  129.13  130.00  128.39  129.94  14068336
2016-09-22  130.50  130.73  129.56  130.08  15538307
2016-09-23  127.56  128.60  127.30  127.96  28326266

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [11]:
from datetime import datetime

In [12]:
my_year = 2017
my_month = 1
my_day = 2
my_hour = 13
my_minute = 30
my_second = 15

In [13]:
my_date = datetime(my_year, my_month, my_day)

In [14]:
my_date

datetime.datetime(2017, 1, 2, 0, 0)

In [16]:
import quandl

In [17]:
start = pd.to_datetime('2012-01-01')
end = pd.to_datetime('2017-01-01')

In [19]:
aapl = quandl.get('WIKI/AAPl')

In [22]:
aapl.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
1980-12-12,28.75,28.87,28.75,28.75,2093900.0,0.0,1.0,0.422706,0.424470,0.422706,0.422706,117258400.0
1980-12-15,27.38,27.38,27.25,27.25,785200.0,0.0,1.0,0.402563,0.402563,0.400652,0.400652,43971200.0
1980-12-16,25.37,25.37,25.25,25.25,472000.0,0.0,1.0,0.373010,0.373010,0.371246,0.371246,26432000.0
1980-12-17,25.87,26.00,25.87,25.87,385900.0,0.0,1.0,0.380362,0.382273,0.380362,0.380362,21610400.0
1980-12-18,26.63,26.75,26.63,26.63,327900.0,0.0,1.0,0.391536,0.393300,0.391536,0.391536,18362400.0

In [24]:
aapl = quandl.get('WIKI/AAPl.11')

In [25]:
aapl.head()

            Adj. Close
Date
1980-12-12    0.422706
1980-12-15    0.400652
1980-12-16    0.371246
1980-12-17    0.380362
1980-12-18    0.391536